* {
    padding: 0;
    margin: 0;
}

header {
    background: #fff;
    color: #000;
    height: 50px;
    font-weight: bold;
    width: 100%;
    display: flex;
    font-size: 0.7em;
    justify-content: space-between;
    position: fixed;
    z-index: 500;
}
header .logoarea {
    width: 150px;
}
header .logoarea h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
header .list ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    height: 50px;
}
header .list ul li {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
header .list ul li:last-child {
    background: #31d0ee;
    margin: 0;
    color: #fff;
    padding: 0px 20px;
    font-weight:bold;
}

/* Firstview */
.firstview {
    height: 60vh;
    width: 100%;
    position: relative;
    background-image: url("../images/firstview-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/*
.firstview-bg {
    position: absolute;
    height: 60vh;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 8;
}
*/
.firstview-titlearea {
    position: relative;
    z-index: 9;
    top: 28%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2em;
    letter-spacing: 0.4em;
    text-shadow:2px 2px 3px #000;
}
h1.firstview-titlearea_title {
    font-size: 3em;
    font-family: serif;
}
/* section news */
section.news {
    background: #edfcff;
    height: 130px;
}
.newstextarea {
    width: 70%;
    margin: auto;
    display: flex;
    height: 130px;
    color: #8e9597;
}
.newstextarea-title {
    display: flex;
    align-items: center;
    width: 15%;
}
.newstextarea-title-p {
    transform: translate(0%, -25%);
    color: #0b99dd;
    font-weight: bold;
    font-size: 1.3em;
}
.newstextarea-title-p::after {
    content: '一覧を見る  >';
    display: block;
    color: #8e9597;
    font-weight: 100;
    font-size: 0.1em;
}
.newstextarea-lists {
    height: 130px;
    display: flex;
    align-items: center;
    width: 85%;
}
.newstextarea-lists ul {
    width: 100%;
}
.newstextarea-lists ul li {
    list-style: none;
    font-size: 0.7em;
    border-bottom: 1px solid #bcebfe;
    margin: 5px 0px;
    padding: 3px 0px;
}
.cat {
    background-color: #0b9adf;
    color: #fff;
    display: inline-block;
    width: 70px;
    height: 17px;
    text-align: center;
    margin: 0px 20px;
}
.service {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}
.service-title {
    background: #fff;
    text-align: center;
    color: #0b9bde;
    padding: 10px 0px;
}
.service-title::after {
    content: 'CITY Labの事業';
    display: block;
    font-size: 0.3em;
}
.service-contentarea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-contentarea_card {
    width: 30%;
    position: relative;
}
.service-contentarea_card img {
    width: 100%;
    height: 200px;
    transition: .5s;
}
.service-contentarea_card img:hover {
    transform: scale(1.1);
    transition: .5s;
}
.img-hover-bg {
    width: 100%;
    height: 200px;
    background: rgba(167, 13, 13, 0.5);
}

/* PC-hamburger start */
.hamburger,
.black-bg {
    display: none;
}
/* PC-hamburger fin */

@media screen and (max-width: 768px) {
    /* sp-hamburger start */
    .hamburger,
    .black-bg {
        display: block;
    }
    header .list ul {
        height: unset;
        margin: 20%;
    }
    header .list ul li {
        margin: 20% 0px;
    }
    header .list ul li:last-child {
        background: none;
        color: #0b9bde;
    }
    .list {
        position: fixed;
        right: -60%;
        width: 60%;
        height: 100vh; /* ハンバーガーの大きな要素を高さ100%に */
        background-color: #fff; /* ハンバーガーの背景を白に */
        transition: all .6s; /* 動作の際にぬるっと動くように */
        z-index: 200; /* body要素の上に来るように設定 */
        overflow-y: auto; /* メニューが多くなったらスクロールできるように */
    }
    .hamburger {
        position: absolute;
        right: 0;
        top: 0;      /* ハンバーガメニューを右上に設置する */
        width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
        height: 50px; /* クリックしやすいようにちゃんと高さを指定する */
        cursor: pointer;
        z-index: 300; /* ハンバーガーメニューより上に来るようにする */
    }
    header .list ul {
        display: block; /* ハンバーガーのリストを縦にする */
    }
    .hamburger__line {
        position: absolute;
        left: 11px;
        width: 18px;
        height: 2px;
        border-radius: 10px;
        background-color: #111;
        transition: all .6s;
    }
    .hamburger__line--1 {
        top: 19px;
    }
    .hamburger__line--2 {
        top: 25px;
    }
    .hamburger__line--3 {
        top: 31px;
    }
    .black-bg {  /* 一旦、普通のbodyの時は、black-bgは不可視にする */
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background-color: #000;
        opacity: 0;
        visibility: hidden;
        transition: all .6s;
        cursor: pointer;
    }
    /* 表示された時用のCSS */
    .nav-open .list {
        right: 0;
    }
    .nav-open .black-bg {
        opacity: .8;
        visibility: visible;
    }
    .nav-open .hamburger__line--1 {
        transform: rotate(225deg);
        top: 24px;
    }
    .nav-open .hamburger__line--2 {
        width: 0;
        left: 50%;
    }
    .nav-open .hamburger__line--3 {
        transform: rotate(-225deg);
        top: 24px;
    }
    /* sp-hamburger fin */
    .newstextarea {
        flex-direction: column;
        height: unset;
        padding: 40px 0px;
        width: 90%;
    }
    section.news {
        height: 50vh;
    }
    .newstextarea-title {
        width: unset;
    }
    .newstextarea-lists {
        height: unset;
        width: 100%;
    }
    .newstextarea-title-p {
        transform: unset;
        width: 100%;
        text-align: center;
    }
    .newstextarea-lists ul li {
        margin: 20px 0px;
    }
    .br {
        display: block;
    }
    .service-contentarea_card {
        width: 100%;
        margin: 40px 0px;
    }
    .service {
        width: 90%;
    }
}